body
{
    background-image: url(../Images/background.jpg);
}
.start
{
    width: 450px;
    height: 450px;
    margin-left: 530px;
    margin-top: 50px;
    border: 2px;
    border-color: #FF851B;
    border-style: solid;
}
.Page_title
{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.Pages_list
{
    text-align: center;
    margin-left: 300px;
    width: 900px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-color: #FF851B;
    border-bottom-style: solid;
}
.Pages_list>a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*page-1*/
.STD_names
{
    border-style: solid;
    border-color: #FF851B;
}
.Table_caption
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.STD-head
{
    background-color: #FFCC99;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.STD-tr
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*page-2*/
.Welcome_message
{
    color: #FF851B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 300px;
    font-style: italic;
}
.About_site>p
{
    margin-top: 40px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.More_info
{
    text-align: right;
    margin-top: 50px;
    margin-right: 400px;
    color: #FF851B;
    direction: rtl;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contact_info
{
    margin-left: 400px;
    width: 700px;
    padding: 20px;
    border-width: 2px;
    border-style: dotted;
    border-color: #FF851B;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
/*page-3*/
.Meals_table
{
    border-style: solid;
    border-color: #FF851B;
}
.Meals-head
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFCC99;
    font-size: 20px;
}
.Meals-tr
{
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.details
{
    text-align: right;
    font-size: 20px;
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head-details
{
    text-align: center;
    font-size: 25px;
}
.meal-img
{
    float: left;
    border: 5px;
    border-color: #FF851B;
    border-style: dotted;
}
.ingredients-list, .sauce-list
{
    direction: rtl;
    font-size: 20px;
}
.Continue-btn
{
    background-color:#FF851B;
    color: #FFFDF5;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 700px;
    border-color: #FF851B;
}
/*Order page*/
#Order_form>p
{
    margin-left: 600px;
    font-size: 20px;
}
#Order_form>p>input
{
    margin-left: 20px;
}
.Send-btn
{
    background-color:#FF851B;
    color: #FFFDF5;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 730px;
    border-color: #FF851B;
}
/*other style*/
.Page_title, .Table_caption, .STD-head, .STD-tr, .Notes, .About_site, .Contact_info, .Meals-head, .Meals-tr
{
    color: #1A1A1A;
}
.Pages_list>a, .link
{
    color: #FF851B;
    text-decoration: none;
    font-size: 25px;
}
.return-link
{
    margin-top: 30px;
    color: #FF851B;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}
.Notes, .About_site
{
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
